
  <div class="container-fluid pt-3">
    <%  for (let error of errors) { %>
      <div class="alert alert-danger" role="alert">
      <%= error.message %>
     </div>
       <% } %>
       <% if(message.success){ %>
         <div class="alert alert-success"  role="alert">
             <%= message.success %>
         </div>
         <% } %>
    <div class="row removable">
      <div class="col-lg-4">
        <div class="card">
          <div class="card-header border-0 pb-0">
            <h1 class="mb-0"><%= data[0].name %></h1>
          </div>
          <div class="card-body pt-0 pb-2 px-0">
            <div
              class="border-bottom border-top d-flex align-items-center justify-content-between px-4 py-2"
            >
              <div class="d-flex align-items-center">
                <i class="fa text-primary text-lg fa-user"></i>
                <div class="ml-3">
                  <h3 class="mb-0">Profile</h3>
                </div>
              </div>
              <a href='/lawfirm_view?id=<%= law_firm_id %>'
                ><i class="fa fa-edit"></i
              ></a>
            </div>
            <div class="card-body pt-0 pb-2 px-0">
              <div
                class="border-bottom border-top d-flex align-items-center justify-content-between px-4 py-2"
              >
                <div class="d-flex align-items-center">
                  <i class="fa text-primary text-lg fa-users"></i>
                  <div class="ml-3">
                    <h3 class="mb-0">Contacts</h3>
                  </div>
                </div>
                <a href='/lawfirm_contacts?id=<%= law_firm_id %>'
                  ><i class="fa fa-edit"></i
                ></a>
              </div>
              <div
                class="border-bottom d-flex align-items-center justify-content-between px-4 py-2"
              >
                <div class="d-flex align-items-center">
                  <i class="fa fa-map-marker text-primary text-lg"></i>
                  <div class="ml-3">
                    <h3 class="mb-0">Statement</h3>
                  </div>
                </div>
                <a href='/lawfirm_statement?id=<%= law_firm_id %>'
                  ><i class="fa fa-edit"></i
                ></a>
              </div>
              <div
                class="d-flex align-items-center justify-content-between px-4 py-2"
              >
                <div class="d-flex align-items-center">
                  <i class="fa fa-star text-primary text-lg"></i>
                  <div class="ml-3">
                    <h3 class="mb-0">Fee Notes</h3>
                  </div>
                </div>
                <a href='/lawfirm_notes?id=<%= law_firm_id %>'
                  ><i class="fa fa-edit"></i
                ></a>
              </div>
              <div class="card-body pt-0 pb-2 px-0">
                <div class="card-body pt-0 pb-2 px-0">
                  <div
                    class="border-bottom border-top d-flex align-items-center justify-content-between px-4 py-2"
                  >
                    <div class="d-flex align-items-center">
                      <i class="fa text-primary text-lg fa-file"></i>
                      <div class="ml-3">
                        <h3 class="mb-0">Cases</h3>
                      </div>
                    </div>
                    <a href='/lawfirm_cases?id=<%= law_firm_id %>'
                      ><i class="fa fa-edit"></i
                    ></a>
                  </div>
                </div>
              </div>
              <div class="card-body pt-0 pb-2 px-0">
                <div class="card-body pt-0 pb-2 px-0">
                  <div
                    class="border-bottom border-top d-flex align-items-center justify-content-between px-4 py-2"
                  >
                  <% if(user_role == 'Admin') { %>
                  <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal9">Delete Law Firm<i class="fa fa-trash"></i
                    ></button>
                    <% } %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <form action='/update-lawfirm-profile?id=<%= law_firm_id %>' method="POST">
        <div class="card">
          <div class="card-header">
            <div class="row align-items-center">
              <div class="col-8">
                <h3 class="mb-0">Edit profile</h3>
              </div>
            </div>
          </div>
          <div class="card-body">
            
              <h6 class="heading-small text-muted mb-4">
                Law firm information
              </h6>
              <div class="pl-lg-4">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-username"
                        >Law Firm</label
                      >
                      <input
                        type="text"
                        id="input-username"
                        class="form-control"
                        name="lawfirm_name"
                        placeholder="<%= data[0].name %>"
                        required
                      />
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-email"
                        >Email address</label
                      >
                      <input
                        type="email"
                        id="input-email"
                        class="form-control"
                        name="email"
                        placeholder="<%= data[0].email %>"
                        required
                      />
                      <div
                        data-lastpass-icon-root="true"
                        style="
                          position: relative !important;
                          height: 0px !important;
                          width: 0px !important;
                          float: left !important;
                        "
                      ></div>
                      <div
                        data-lastpass-icon-root="true"
                        style="
                          position: relative !important;
                          height: 0px !important;
                          width: 0px !important;
                          float: left !important;
                        "
                      ></div>
                      <div
                        data-lastpass-icon-root="true"
                        style="
                          position: relative !important;
                          height: 0px !important;
                          width: 0px !important;
                          float: left !important;
                        "
                      ></div>
                      <div
                        data-lastpass-icon-root="true"
                        style="
                          position: relative !important;
                          height: 0px !important;
                          width: 0px !important;
                          float: left !important;
                        "
                      ></div>
                      <div
                        data-lastpass-icon-root="true"
                        style="
                          position: relative !important;
                          height: 0px !important;
                          width: 0px !important;
                          float: left !important;
                        "
                      ></div>
                    </div>
                  </div>
                </div>
              </div>
              <hr class="my-4" />
              <!-- Address -->
              <h6 class="heading-small text-muted mb-4">
                LOCATION AND CONTACTS
              </h6>
              <div class="pl-lg-4">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="form-control-label" for="input-address"
                        >Address</label
                      >
                      <input
                        id="input-address"
                        class="form-control"
                        placeholder="<%= data[0].address %>"
                        name="address"
                        type="text"
                        required
                      />
                      <div
                        data-lastpass-icon-root="true"
                        style="
                          position: relative !important;
                          height: 0px !important;
                          width: 0px !important;
                          float: left !important;
                        "
                      ></div>
                    </div>
                  </div>
                </div>
                <div class="row">
                 
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label class="form-control-label" for="input-country"
                        >Phone Number</label
                      >
                      <input
                        type="number"
                        id="input-postal-code"
                        class="form-control"
                        name="phone_number"
                        placeholder="<%= data[0].phone_number %>"
                        required
                      />
                    </div>
                  </div>
                </div>
              </div>
              <hr class="my-4" />
            
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
      </form>
      </div>
    </div>
  </div>
  <div class="modal fade" id="exampleModal9" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
           
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Are you sure you want to Delete Law Firm?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">X</span>
                </button>
            </div>
            <div class="modal-body">
              <form  action="/delete-lawfirm?id=<%= law_firm_id %>" method="POST">
                <div class="mb-3">
                                     
                                <div class="mb-3">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Delete</button>
                                </div>
                            </form>       
        </div>
    </div>
  </div>   
  </div>