<div class="container-fluid pt-3">
  <%  for (let error of errors) { %>
    <div class="alert alert-danger" role="alert">
    <%= error.message %>
   </div>
     <% } %>
     <% if(message.success){ %>
       <div class="alert alert-success"  role="alert">
           <%= message.success %>
       </div>
       <% } %>
    <div class="row removable">
      <div class="col-lg-4">
        <div class="card">
          <div class="card-header border-0 pb-0">
            <h1 class="mb-0"><%= data[0].name %></h1>
          </div>
          <div class="card-body pt-0 pb-2 px-0">
            <div
              class="border-bottom border-top d-flex align-items-center justify-content-between px-4 py-2"
            >
              <div class="d-flex align-items-center">
                <i class="fa text-primary text-lg fa-user"></i>
                <div class="ml-3">
                  <h3 class="mb-0">Profile</h3>
                </div>
              </div>
              <a href='/lawfirm_view?id=<%= law_firm_id %>'
                ><i class="fa fa-edit"></i
              ></a>
            </div>
            <div class="card-body pt-0 pb-2 px-0">
              <div
                class="border-bottom border-top d-flex align-items-center justify-content-between px-4 py-2"
              >
                <div class="d-flex align-items-center">
                  <i class="fa text-primary text-lg fa-users"></i>
                  <div class="ml-3">
                    <h3 class="mb-0">Contacts</h3>
                  </div>
                </div>
                <a href='/lawfirm_contacts?id=<%= law_firm_id %>'
                  ><i class="fa fa-edit"></i
                ></a>
              </div>
              <div
                class="border-bottom d-flex align-items-center justify-content-between px-4 py-2"
              >
                <div class="d-flex align-items-center">
                  <i class="fa fa-map-marker text-primary text-lg"></i>
                  <div class="ml-3">
                    <h3 class="mb-0">Statement</h3>
                  </div>
                </div>
                <a href='/lawfirm_statement?id=<%= law_firm_id %>'
                  ><i class="fa fa-edit"></i
                ></a>
              </div>
              <div
                class="d-flex align-items-center justify-content-between px-4 py-2"
              >
                <div class="d-flex align-items-center">
                  <i class="fa fa-star text-primary text-lg"></i>
                  <div class="ml-3">
                    <h3 class="mb-0">Fee Notes</h3>
                  </div>
                </div>
                <a href='/lawfirm_notes?id=<%= law_firm_id %>'
                  ><i class="fa fa-edit"></i
                ></a>
              </div>
              <div class="card-body pt-0 pb-2 px-0">
                <div class="card-body pt-0 pb-2 px-0">
                  <div
                    class="border-bottom border-top d-flex align-items-center justify-content-between px-4 py-2"
                  >
                    <div class="d-flex align-items-center">
                      <i class="fa text-primary text-lg fa-file"></i>
                      <div class="ml-3">
                        <h3 class="mb-0">Cases</h3>
                      </div>
                    </div>
                    <a href='/lawfirm_cases?id=<%= law_firm_id %>'
                      ><i class="fa fa-edit"></i
                    ></a>
                  </div>
                </div>
              </div>
              <div class="card-body pt-0 pb-2 px-0">
                <div class="card-body pt-0 pb-2 px-0">
                  <div
                    class="border-bottom border-top d-flex align-items-center justify-content-between px-4 py-2"
                  >
                  <% if(user_role == 'Admin') { %>
                  <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal9">Delete Law Firm<i class="fa fa-trash"></i
                    ></button>
                    <% } %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
        <div class="col-lg-8">
            <div class="row removable">
                <div class="col-lg-12">
                    <h2 class="">Tasks</h2>
                    <h class="">Related to:</h>
                </div>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="lawFirmCheck">
                <label class="form-check-label" for="lawFirmCheck">Law Firm</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="casesCheck">
                <label class="form-check-label" for="casesCheck">Cases</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="feeNotesCheck">
                <label class="form-check-label" for="feeNotesCheck">Fee Notes</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="estimatesCheck">
                <label class="form-check-label" for="estimatesCheck">Estimates</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="contractsCheck">
                <label class="form-check-label" for="contractsCheck">Contracts</label>
            </div>
            <div class="card">
                <div class="col-lg-12">
                    <div class="card-header border-0">
                        <div class="row align-items-center">
                            <div class="col">
                                <h3 class="mb-0"></h3>
                            </div>
                            <div class="col text-right">
                                <a href="#!" class="btn btn-sm btn-primary">Set New Task</a>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table align-items-center table-flush">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Start date</th>
                                    <th scope="col">Due Date</th>
                                    <th scope="col">Assigned to</th>
                                    <th scope="col">Tags</th>
                                    <th scope="col">Priority</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>
                                        Review</td>
                                    <td>
                                        On going&nbsp;</td>
                                    <td>
                                        03/03/2023</td>
                                    <td>
                                        04/03/2023</td>
                                    <td>Test lawyer</td>
                                    <td>Review</td>
                                    <td>High</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModal9" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
         
          <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Are you sure you want to Delete Law Firm?</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">X</span>
              </button>
          </div>
          <div class="modal-body">
            <form  action="/delete-lawfirm?id=<%= law_firm_id %>" method="POST">
              <div class="mb-3">
                                   
                              <div class="mb-3">
                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                  <button type="submit" class="btn btn-primary">Delete</button>
                              </div>
                          </form>       
      </div>
  </div>
</div>   
</div>