
  <div class="container-fluid pt-3">
    <%  for (let error of errors) { %>
      <div class="alert alert-danger" role="alert">
      <%= error.message %>
     </div>
       <% } %>
       <% if(message.success){ %>
         <div class="alert alert-success"  role="alert">
             <%= message.success %>
         </div>
         <% } %>
    <div class="row removable">
      <div class="col-lg-4">
        <div class="card">
          <div class="card-header border-0 pb-0">
            <h1 class="mb-0"><%= data[0].name %></h1>
          </div>
          <div class="card-body pt-0 pb-2 px-0">
            <div
              class="border-bottom border-top d-flex align-items-center justify-content-between px-4 py-2"
            >
              <div class="d-flex align-items-center">
                <i class="fa text-primary text-lg fa-user"></i>
                <div class="ml-3">
                  <h3 class="mb-0">Profile</h3>
                </div>
              </div>
              <a href='/lawfirm_view?id=<%= law_firm_id %>'
                ><i class="fa fa-edit"></i
              ></a>
            </div>
            <div class="card-body pt-0 pb-2 px-0">
              <div
                class="border-bottom border-top d-flex align-items-center justify-content-between px-4 py-2"
              >
                <div class="d-flex align-items-center">
                  <i class="fa text-primary text-lg fa-users"></i>
                  <div class="ml-3">
                    <h3 class="mb-0">Contacts</h3>
                  </div>
                </div>
                <a href='/lawfirm_contacts?id=<%= law_firm_id %>'
                  ><i class="fa fa-edit"></i
                ></a>
              </div>
              <div
                class="border-bottom d-flex align-items-center justify-content-between px-4 py-2"
              >
                <div class="d-flex align-items-center">
                  <i class="fa fa-map-marker text-primary text-lg"></i>
                  <div class="ml-3">
                    <h3 class="mb-0">Statement</h3>
                  </div>
                </div>
                <a href='/lawfirm_statement?id=<%= law_firm_id %>'
                  ><i class="fa fa-edit"></i
                ></a>
              </div>
              <div
                class="d-flex align-items-center justify-content-between px-4 py-2"
              >
                <div class="d-flex align-items-center">
                  <i class="fa fa-star text-primary text-lg"></i>
                  <div class="ml-3">
                    <h3 class="mb-0">Fee Notes</h3>
                  </div>
                </div>
                <a href='/lawfirm_notes?id=<%= law_firm_id %>'
                  ><i class="fa fa-edit"></i
                ></a>
              </div>
              <div class="card-body pt-0 pb-2 px-0">
                <div class="card-body pt-0 pb-2 px-0">
                  <div
                    class="border-bottom border-top d-flex align-items-center justify-content-between px-4 py-2"
                  >
                    <div class="d-flex align-items-center">
                      <i class="fa text-primary text-lg fa-file"></i>
                      <div class="ml-3">
                        <h3 class="mb-0">Cases</h3>
                      </div>
                    </div>
                    <a href='/lawfirm_cases?id=<%= law_firm_id %>'
                      ><i class="fa fa-edit"></i
                    ></a>
                  </div>
                </div>
              </div>
              <div class="card-body pt-0 pb-2 px-0">
                <div class="card-body pt-0 pb-2 px-0">
                  <div
                    class="border-bottom border-top d-flex align-items-center justify-content-between px-4 py-2"
                  >
                  <% if(user_role == 'Admin') { %>
                  <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal9">Delete Law Firm<i class="fa fa-trash"></i
                    ></button>
                    <% } %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="row removable">
          <div class="col-lg-8">
            <div class="row removable">
              <div class="col-lg-6">
                <div class="">
                  <div class="nav-wrapper">
                    <ul
                      class="nav nav-pills nav-fill flex-column flex-md-row"
                      id="tabs-icons-text"
                      role="tablist"
                    >
                     
                      <li class="nav-item">
                        <button
                          class="nav-link mb-sm-3 mb-md-0"
                          id="tabs-icons-text-3-tab"
                          data-toggle="modal" data-target="#exampleModal1"
                          role="tab"
                          aria-controls="tabs-icons-text-3"
                          aria-selected="false"
                          >Add Contact<i class="fa mr-2"></i
                        ></button>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-lg-6"></div>
            </div>
          </div>
          <div class="col-lg-4"></div>
        </div>
        <div class="card">
          <div class="card-header border-0">
            <div class="row align-items-center">
              <div class="col">
                <div class="form-group mb-0">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"
                        ><i class="fas fa-search"></i
                      ></span>
                    </div>
                    <input
                      class="form-control"
                      placeholder="Search"
                      type="text"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Customer</th>
                  <th scope="col">Email Address</th>
                  <th scope="col">Position</th>
                  <th scope="col">Phone Number</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <%  for (let dat of data[0].contacts) { %>
                <tr>
                  <td>
                    <div class="d-flex align-items-center">
                     
                      <span class="ml-2"><%= dat.name %></span>
                    </div>
                  </td>
                  <td>
                    <div class="d-flex align-items-center">
                      <span class="ml-2"><%= dat.email %></span>
                    </div>
                  </td>
                  <td>
                    <div class="d-flex align-items-center">
                      <span class="ml-2"><%= dat.position %></span>
                    </div>
                  </td>
                  <td>
                    <div class="d-flex align-items-center">
                      <span class="ml-2"><%= dat.phone %></span>
                    </div>
                  </td>
                  <td>
                    <% if(user_role == 'Admin') { %>
                    <button type="button" onclick="deleteContact('<%= law_firm_id %>', '<%= dat.name %>')" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal2"
                    ><i class="fa fa-trash"></i
                  ></button>
                  <% } %>
                  </td>
                </tr>
                <% } %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form action='update-lawfirm-contact?id=<%= law_firm_id %>' method="POST">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Contact Person</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">X</span>
                </button>
            </div>
            <div class="modal-body">
                 
              <div class="mb-3">
                <label for="contact_person" class="form-label">Contact Person</label>
                <div id="contact-container">
                  <div class="contact-input">
                    <div class="row mb-3">
                    <div class="col-md-6">
                    <label for="name1">Name:</label>
                    <input type="text"  class="form-control" name="name1" required>
                  </div>
                  <div class="col-md-6">
                    <label for="email1">Email:</label>
                    <input type="email"  class="form-control" name="email1" required>
                  </div>
                  </div>
                  <div class="row mb-3">
                  <div class="col-md-6">
                    <label for="position1">Position:</label>
                    <input type="text"  class="form-control" name="position1" required>
                  </div>
                  <div class="col-md-6">
                    <label for="phone1">Phone:</label>
                    <input type="tel"  class="form-control" name="phone1" required>
                  </div>
                  </div>
                  </div>
                </div>
              </div>          
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit"  class="btn btn-primary">Submit</button>
            </div>
        </form> 
        </div>
  </div>
  </div>
  <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Delete Contact</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">X</span>
                    </button>
            </div>
            <div class="modal-body">
                          
            </div>
        </div>
  </div>
  </div>
  <div class="modal fade" id="exampleModal9" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
           
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Are you sure you want to Delete Law Firm?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">X</span>
                </button>
            </div>
            <div class="modal-body">
              <form  action="/delete-lawfirm?id=<%= law_firm_id %>" method="POST">
                <div class="mb-3">
                                     
                                <div class="mb-3">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Delete</button>
                                </div>
                            </form>       
        </div>
    </div>
  </div>   
  </div>