
  <div class="container-fluid pt-3">
    <%  for (let error of errors) { %>
      <div class="alert alert-danger" role="alert">
      <%= error.message %>
     </div>
       <% } %>
       <% if(message.success){ %>
         <div class="alert alert-success"  role="alert">
             <%= message.success %>
         </div>
         <% } %>
    <div class="row removable">
      <div class="col-lg-4">
        <div class="card">
          <div class="card-header border-0 pb-0">
            <h1 class="mb-0"><%= data[0].name %></h1>
          </div>
          <div class="card-body pt-0 pb-2 px-0">
            <div
              class="border-bottom border-top d-flex align-items-center justify-content-between px-4 py-2"
            >
              <div class="d-flex align-items-center">
                <i class="fa text-primary text-lg fa-user"></i>
                <div class="ml-3">
                  <h3 class="mb-0">Profile</h3>
                </div>
              </div>
              <a href='/lawfirm_view?id=<%= law_firm_id %>'
                ><i class="fa fa-edit"></i
              ></a>
            </div>
            <div class="card-body pt-0 pb-2 px-0">
              <div
                class="border-bottom border-top d-flex align-items-center justify-content-between px-4 py-2"
              >
                <div class="d-flex align-items-center">
                  <i class="fa text-primary text-lg fa-users"></i>
                  <div class="ml-3">
                    <h3 class="mb-0">Contacts</h3>
                  </div>
                </div>
                <a href='/lawfirm_contacts?id=<%= law_firm_id %>'
                  ><i class="fa fa-edit"></i
                ></a>
              </div>
              <div
                class="border-bottom d-flex align-items-center justify-content-between px-4 py-2"
              >
                <div class="d-flex align-items-center">
                  <i class="fa fa-map-marker text-primary text-lg"></i>
                  <div class="ml-3">
                    <h3 class="mb-0">Statement</h3>
                  </div>
                </div>
                <a href='/lawfirm_statement?id=<%= law_firm_id %>'
                  ><i class="fa fa-edit"></i
                ></a>
              </div>
              <div
                class="d-flex align-items-center justify-content-between px-4 py-2"
              >
                <div class="d-flex align-items-center">
                  <i class="fa fa-star text-primary text-lg"></i>
                  <div class="ml-3">
                    <h3 class="mb-0">Fee Notes</h3>
                  </div>
                </div>
                <a href='/lawfirm_notes?id=<%= law_firm_id %>'
                  ><i class="fa fa-edit"></i
                ></a>
              </div>
              <div class="card-body pt-0 pb-2 px-0">
                <div class="card-body pt-0 pb-2 px-0">
                  <div
                    class="border-bottom border-top d-flex align-items-center justify-content-between px-4 py-2"
                  >
                    <div class="d-flex align-items-center">
                      <i class="fa text-primary text-lg fa-file"></i>
                      <div class="ml-3">
                        <h3 class="mb-0">Cases</h3>
                      </div>
                    </div>
                    <a href='/lawfirm_cases?id=<%= law_firm_id %>'
                      ><i class="fa fa-edit"></i
                    ></a>
                  </div>
                </div>
              </div>
              <div class="card-body pt-0 pb-2 px-0">
                <div class="card-body pt-0 pb-2 px-0">
                  <div
                    class="border-bottom border-top d-flex align-items-center justify-content-between px-4 py-2"
                  >
                  <% if(user_role == 'Admin') { %>
                  <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal9">Delete Law Firm<i class="fa fa-trash"></i
                    ></button>
                    <% } %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card">
          <div class="card-header border-0">
            <div class="row align-items-center">
              <div class="col">
                <div class="form-group mb-0">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"
                        ><i class="fas fa-search"></i
                      ></span>
                    </div>
                    <input
                      class="form-control"
                      placeholder="Search"
                      type="text"
                    />
                  </div>
                </div>
              </div>
              <div class="col text-right">
                <a href="#!" class="btn btn-sm btn-primary">New Contract</a>
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col">
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Vendor
                  </th>
                  <th scope="col">Status</th>
                  <th scope="col">Contract Description</th>
                  <th scope="col">Service category&nbsp;</th>
                  <th scope="col">Department</th>
                  <th scope="col">Document Value</th>
                  <th scope="col">Payment Cycle</th>
                  <th scope="col">Payment Terms</th>
                  <th scope="col">Start Date</th>
                  <th scope="col">End Date</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">
                    <div class="d-flex align-items-center">
                      <div class="custom-control custom-checkbox">
                        <input
                          class="custom-control-input"
                          id="table-check-1"
                          type="checkbox"
                        />
                        <label
                          class="custom-control-label"
                          for="table-check-1"
                        ></label>
                      </div>
                      <span>Soxfort Solutions</span>
                    </div>
                  </th>
                  <td>
                    <span class="badge badge-pill badge-success">Active</span>
                  </td>
                  <td>
                    <span>Software Development&nbsp;</span>
                  </td>
                  <td>
                    <div class="d-flex align-items-center">
                      <span class="ml-2">ICT</span>
                    </div>
                  </td>
                  <td>
                    <div class="d-flex align-items-center">
                      <span class="ml-2">Legal</span>
                    </div>
                  </td>
                  <td>
                    <div class="d-flex align-items-center">
                      <span class="ml-2">$7,523.66</span>
                    </div>
                  </td>
                  <td>
                    <div class="d-flex align-items-center">
                      <span class="ml-2">Once Off</span>
                    </div>
                  </td>
                  <td>
                    <div class="d-flex align-items-center">
                      <span class="ml-2">50% Down</span>
                    </div>
                  </td>
                  <td>
                    <div class="d-flex align-items-center">
                      <span class="ml-2">21/02/2023</span>
                    </div>
                  </td>
                  <td>
                    <div class="d-flex align-items-center">
                      <span class="ml-2">31/05/2023</span>
                    </div>
                  </td>
                </tr>
                <tr>
                  <th scope="row">
                    <div class="d-flex align-items-center">
                      <div class="custom-control custom-checkbox">
                        <input
                          class="custom-control-input"
                          id="table-check-1"
                          type="checkbox"
                        />
                        <label
                          class="custom-control-label"
                          for="table-check-1"
                        ></label>
                      </div>
                      <span>Soxfort Solutions</span>
                    </div>
                  </th>
                  <td>
                    <span class="badge badge-pill badge-success">Active</span>
                  </td>
                  <td>
                    <span>Software Development&nbsp;</span>
                  </td>
                  <td>
                    <div class="d-flex align-items-center">
                      <span class="ml-2">ICT</span>
                    </div>
                  </td>
                  <td>
                    <div class="d-flex align-items-center">
                      <span class="ml-2">Legal</span>
                    </div>
                  </td>
                  <td>
                    <div class="d-flex align-items-center">
                      <span class="ml-2">$7,523.66</span>
                    </div>
                  </td>
                  <td>
                    <div class="d-flex align-items-center">
                      <span class="ml-2">Once Off</span>
                    </div>
                  </td>
                  <td>
                    <div class="d-flex align-items-center">
                      <span class="ml-2">50% Down</span>
                    </div>
                  </td>
                  <td>
                    <div class="d-flex align-items-center">
                      <span class="ml-2">21/02/2023</span>
                    </div>
                  </td>
                  <td>
                    <div class="d-flex align-items-center">
                      <span class="ml-2">31/05/2023</span>
                    </div>
                  </td>
                </tr>
                <tr>
                  <th scope="row">
                    <div class="d-flex align-items-center">
                      <div class="custom-control custom-checkbox">
                        <input
                          class="custom-control-input"
                          id="table-check-1"
                          type="checkbox"
                        />
                        <label
                          class="custom-control-label"
                          for="table-check-1"
                        ></label>
                      </div>
                      <span>Soxfort Solutions</span>
                    </div>
                  </th>
                  <td>
                    <span class="badge badge-pill badge-success">Active</span>
                  </td>
                  <td>
                    <span>Software Development&nbsp;</span>
                  </td>
                  <td>
                    <div class="d-flex align-items-center">
                      <span class="ml-2">ICT</span>
                    </div>
                  </td>
                  <td>
                    <div class="d-flex align-items-center">
                      <span class="ml-2">Legal</span>
                    </div>
                  </td>
                  <td>
                    <div class="d-flex align-items-center">
                      <span class="ml-2">$7,523.66</span>
                    </div>
                  </td>
                  <td>
                    <div class="d-flex align-items-center">
                      <span class="ml-2">Once Off</span>
                    </div>
                  </td>
                  <td>
                    <div class="d-flex align-items-center">
                      <span class="ml-2">50% Down</span>
                    </div>
                  </td>
                  <td>
                    <div class="d-flex align-items-center">
                      <span class="ml-2">21/02/2023</span>
                    </div>
                  </td>
                  <td>
                    <div class="d-flex align-items-center">
                      <span class="ml-2">31/05/2023</span>
                    </div>
                  </td>
                </tr>
                <tr>
                  <th scope="row">
                    <div class="d-flex align-items-center">
                      <div class="custom-control custom-checkbox">
                        <input
                          class="custom-control-input"
                          id="table-check-1"
                          type="checkbox"
                        />
                        <label
                          class="custom-control-label"
                          for="table-check-1"
                        ></label>
                      </div>
                      <span>Soxfort Solutions</span>
                    </div>
                  </th>
                  <td>
                    <span class="badge badge-pill badge-success">Active</span>
                  </td>
                  <td>
                    <span>Software Development&nbsp;</span>
                  </td>
                  <td>
                    <div class="d-flex align-items-center">
                      <span class="ml-2">ICT</span>
                    </div>
                  </td>
                  <td>
                    <div class="d-flex align-items-center">
                      <span class="ml-2">Legal</span>
                    </div>
                  </td>
                  <td>
                    <div class="d-flex align-items-center">
                      <span class="ml-2">$7,523.66</span>
                    </div>
                  </td>
                  <td>
                    <div class="d-flex align-items-center">
                      <span class="ml-2">Once Off</span>
                    </div>
                  </td>
                  <td>
                    <div class="d-flex align-items-center">
                      <span class="ml-2">50% Down</span>
                    </div>
                  </td>
                  <td>
                    <div class="d-flex align-items-center">
                      <span class="ml-2">21/02/2023</span>
                    </div>
                  </td>
                  <td>
                    <div class="d-flex align-items-center">
                      <span class="ml-2">31/05/2023</span>
                    </div>
                  </td>
                </tr>
                <tr>
                  <th scope="row">
                    <div class="d-flex align-items-center">
                      <div class="custom-control custom-checkbox">
                        <input
                          class="custom-control-input"
                          id="table-check-1"
                          type="checkbox"
                        />
                        <label
                          class="custom-control-label"
                          for="table-check-1"
                        ></label>
                      </div>
                      <span>Soxfort Solutions</span>
                    </div>
                  </th>
                  <td>
                    <span class="badge badge-pill badge-success">Active</span>
                  </td>
                  <td>
                    <span>Software Development&nbsp;</span>
                  </td>
                  <td>
                    <div class="d-flex align-items-center">
                      <span class="ml-2">ICT</span>
                    </div>
                  </td>
                  <td>
                    <div class="d-flex align-items-center">
                      <span class="ml-2">Legal</span>
                    </div>
                  </td>
                  <td>
                    <div class="d-flex align-items-center">
                      <span class="ml-2">$7,523.66</span>
                    </div>
                  </td>
                  <td>
                    <div class="d-flex align-items-center">
                      <span class="ml-2">Once Off</span>
                    </div>
                  </td>
                  <td>
                    <div class="d-flex align-items-center">
                      <span class="ml-2">50% Down</span>
                    </div>
                  </td>
                  <td>
                    <div class="d-flex align-items-center">
                      <span class="ml-2">21/02/2023</span>
                    </div>
                  </td>
                  <td>
                    <div class="d-flex align-items-center">
                      <span class="ml-2">31/05/2023</span>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="exampleModal9" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
           
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Are you sure you want to Delete Law Firm?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">X</span>
                </button>
            </div>
            <div class="modal-body">
              <form  action="/delete-lawfirm?id=<%= law_firm_id %>" method="POST">
                <div class="mb-3">
                                     
                                <div class="mb-3">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Delete</button>
                                </div>
                            </form>       
        </div>
    </div>
  </div>   
  </div>